doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li.active
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			main
				.main-width
					.offer-block
						h1 Оферта
						h2 1. Общие положения
						p 
							span.blue 1.1. 
							| Данный документ является официальным предложением (публичной офертой) федерального государственного бюджетного учреждения «Российская государственная библиотека» (далее РГБ), именуемого в дальнейшем «Исполнитель», и содержит все существенные условия получения библиотечно-иформационных и репрографических услуг (далее Услуг).
						p
							span.blue 1.2. 
							| В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (далее – ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, физическое лицо, производящее акцепт этой Оферты становится «Заказчиком» (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в Оферте), а Исполнитель и Заказчик совместно — «Сторонами» Договора.
						p
							span.blue 1.3. 
							| Акцептом условий, изложенных в настоящей публичной Оферте, является факт регистрации Заказчиком на специализированном интернет-ресурсе РГБ размещенном по постоянному адресу: http://udo.rsl.ru.
						p 
							span.blue 1.4. 
							| В связи с вышеизложенным, внимательно прочитайте текст данной публичной Оферты, и, если Вы не согласны с ее условиями или с каким-либо пунктом условий, Исполнитель предлагает Вам отказаться от заключения Договора и использования услуг Исполнителя.
						h2 2. Предмет Оферты
						p
							span.blue 1.1. 
							| Данный документ является официальным предложением (публичной офертой) федерального государственного бюджетного учреждения «Российская государственная библиотека» (далее РГБ), именуемого в дальнейшем «Исполнитель», и содержит все существенные условия получения библиотечно-иформационных и репрографических услуг (далее Услуг).
						p
							span.blue 1.2. 
							| В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (далее – ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, физическое лицо, производящее акцепт этой Оферты становится «Заказчиком» (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в Оферте), а Исполнитель и Заказчик совместно — «Сторонами» Договора.
						p 
							span.blue 1.3. 
							| Акцептом условий, изложенных в настоящей публичной Оферте, является факт регистрации Заказчиком на специализированном интернет-ресурсе РГБ размещенном по постоянному адресу: http://udo.rsl.ru.

						p 
							span.blue 1.4. 
							| В связи с вышеизложенным, внимательно прочитайте текст данной публичной Оферты, и, если Вы не согласны с ее условиями или с каким-либо пунктом условий, Исполнитель предлагает Вам отказаться от заключения Договора и использования услуг Исполнителя.
						p.align-center
							a(href="#").btn-blue-big Начать поиск
				//- - - - - - - - - - - - - - - - - - - - - - - - -
				.footer-fix
				footer
					.main-width
						.wrap
							.ins
								.gov
									a(href="#") 
								.contacts
									p 
										a(href="#") findme@mos.ru
									p 8 800 XXX-XX-XX