doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.hide
				.people-popup.remodal(data-remodal-id="people-popup")
					.people-item
						.leftbl
							.prevbl
								.name Сидоров Константин Викторович
								.source
									strong Источник данных: 
									| Со слов пациента 
								.sex.m Мужчина
								.askphoto
									a.big &nbsp;
									.menu-big
										ul
											li
												a(href="#") Запросить фотографию
											li
												a(href="#") Отметить как найденного
								.pic.n
									.avatar
										.no-avatar
								.colors
									.item
										.text Голубой
										.prev
											.color.color9
										.title Цвет глаз
									.clear
									.item.item-2
										.text Рыжий
										.prev
											.color.color3
										.title Цвет волос
								.spec
									.item
										.graph.graph1
										.count 36 - 40
										.desc лет
										.title Возраст 
									.clear
									.item.item-2
										.graph.graph1
										.count 172
										.desc см
										.title Рост
								.viewbl
									.title телосложение
									.text Атлетическое
							.inform
								ul
									li.hat
										.inform-n Шапка
										.inform-f
											span.blue1
									li.jacket
										.inform-n Куртка
										.inform-f
											span.blue2
									li.jeans
										.inform-n Джинсы
										.inform-f
											span.blue3
									li.shoes
										.inform-n Туфли
										.inform-f
											span.blue4
							.box.prim
								.bname 
									h3 Приметы
								.prim-list
									.prim-i Шрамы
									.prim-i Тату
									.prim-i протезы
								.btext Умеренная сутулость, небольшое косоглазие, татуировка китайского дракона, дерущегося с азиатским львом на правом плече, отметка от кольца не безымянном пальце левой руки
							.boxmap 
								.bname 
									h3 Место и обстоятельства обнаружения
								.place
									strong Москва  
									| (центральный округ)
								.btext
									.item.item1 
										p
											strong Комментарии
										p Синие потертые джинсы с дыркой на правой коленке, кроссовки Nike, синее поло с узором в ромбик на спине и рукавах.
									.item.item2 
										p
											strong При себе имел
										p В кармане джинсов - зажигалка и блок сигарет, телефон Nokia, также обнаружена спортивная сумка с документами.
									.item.item3
										p
											strong Обстоятельства обнаружения
										p В кармане джинсов - зажигалка и блок сигарет, телефон Nokia, также обнаружена спортивная сумка с документами.
							.box.boxapplicant
								.bname 
									h3 Заявитель
								.btext
									h4 Сидоров Дмитрий Анатольевич
									p ~
									p 8 916 485 93 00
									p Sidorov_Dmitry@mail.ru
						//- - - - - - - - - - - - - - - - - - - - - - - - -
						.rightbl
							.nav
								.nav-btns
									.left
										a(href="#") 
									.right
										a(href="#") 
								.nav-close.remodal-cancel
							.found
								.date
									.bname Дата обнаружения
									.bcontent
										.item
											.num 24
											.day
												.month 09
												.year 2014
								.place
									.bname
										.bg местонахождение
									.bcontent
										strong Название учреждения
										p Мед. Академия им. Шмелева
										strong Город
										p Москва (центральный округ)
										strong Адрес
										p ул. Пушкина, д. Калатушкина
										p 
											a(href="#").map показать на карте
										strong Телефон
										p 8 800 40 56 75
										strong Адрес сайт
										p
											a(href="#").site www.med24.ru
										strong Режим работы
										p Пн-пт, с 8:00 до 18:00; сб, c 10 <br>до 17:00; Вс - выходной
							.archive
								.bname Архив изменений
								.bcontent
									.item
										a(href="#") Вчера в 18:20
										p Со слов пациента - дополнено описание
									.item
										a(href="#") Два дня назад в 02:15
										p Привезли документы - дополнено описание
									.item
										a(href="#") Три дня назад в 02:15
										p Первичный осмотр реанимации - дополнено описание
									.item
										a(href="#") Вчера в 18:20
										p Изменено место пребывание - изменения
									.item
										a(href="#") Два дня назад в 02:15
										p Поступление пациента - создана карточка
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			.organ-block
				.wrapperw
					.welcome
						.edit
							a(href="#") 
						.bname 
							h3 Медецинская Академия имени Шмелева
						.place
							strong Москва  
							| (центральный округ)
						.btext
							.item.phone
								p
									strong Телефон
								p 8 800 460 30 20
							.item.address 
								p
									strong Адрес
								p Ул. Кольская, дом 2,<br>корпус 3
							.item.time
								p
									strong Часы работы
								p Пн-пт, с 8:00 до 18:00; Cб, <br>c 10 до 17:00; <br>Вс - выходной 
							.item.site
								p
									strong Сайт
								p 
									a(href="#") www.mosgorzdrav.ru
					.learn
						.bname Обучающие материалы
						.bcontent
							.item 
								a(href="#") Документ данный документ является официальным
							.item 
								a(href="#") Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки
							.item 
								a(href="#") Многие думают, что Lorem Ipsum 
					.addnew
						a(href="#").btn-blue Добавить пациента
					.topfilter
						.wrap
							.filter
								ul
									li.full
										a(href="organisation.html")
									li.list.active
										a(href="#")
							.search
								form(action="#")
									input(type="text", placeholder="Поиск")
									input(type="submit", value="Найти")
					//- - - - - - - - - - - - - - - - - - - - - - - - -
					.peoples-box
						.peoples-table-box
							table
								thead
									tr
										td.id ID
										td.name ФИО
										td.sex Пол
										td.age.active Возраст
										td.weight Телосложение
										td.found Когда найжен
										td.place Где находится
										td.moretd
								tbody
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0765
										td.name Сидоров Константин Викторович
										td.sex
											.sex.m Муж
										td.age.active 20-22 года
										td.weight Полное
										td.found 20.06.14
										td.place
											.map 
												a(href="#") ул. Мневники, д. 37
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0766
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.m Муж
										td.age.active 55-56 года
										td.weight Атлетическое
										td.found 27.06.14
										td.place
											.map 
												a(href="#") ул. Свободы, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
									tr
										td.id 0767
										td.name Иванов Дмитрий Сергеевич
										td.sex
											.sex.w Жен
										td.age.active 27 года
										td.weight Стройное
										td.found 5.06.14
										td.place
											.map 
												a(href="#") ул. Октября, д. 87
										td.moretd
											.more
												a(href="#people-popup") Подробнее
												a(href="#").big &nbsp;
												.menu-big
													ul
														li
															a(href="#") Запросить фотографию
														li
															a(href="#") Отметить как найденного
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			.footer-fix
			footer
				.main-width
					.wrap
						.ins
							.gov
								a(href="#") 
							.contacts
								p 
									a(href="#") findme@mos.ru
								p 8 800 XXX-XX-XX