doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.hide
				.people-popup.remodal(data-remodal-id="people-popup")
					include _people-item-pop
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			main
				.organ-block
					.main-width
						.wrapperw
							.welcome
								.edit
									a(href="#") 
								.bname 
									h3 Медецинская Академия имени Шмелева
								.place
									strong Москва  
									| (центральный округ)
								.btext
									.item.phone
										p
											strong Телефон
										p 8 800 460 30 20
									.item.address 
										p
											strong Адрес
										p Ул. Кольская, дом 2,<br>корпус 3
									.item.time
										p
											strong Часы работы
										p Пн-пт, с 8:00 до 18:00; Cб, <br>c 10 до 17:00; <br>Вс - выходной 
									.item.site
										p
											strong Сайт
										p 
											a(href="#") www.mosgorzdrav.ru
							.learn
								.bname Обучающие материалы
								.bcontent
									.item 
										a(href="#") Документ данный документ является официальным
									.item 
										a(href="#") Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки
									.item 
										a(href="#") Многие думают, что Lorem Ipsum 
							.addnew
								a(href="#").btn-blue Добавить пациента
							.topfilter
								.main-width
									.wrap
										.filter
											ul
												li.full
													a(href="organisation.html")
												li.list.active
													a(href="#")
										.search
											form(action="#")
												input(type="text", placeholder="Поиск")
												input(type="submit", value="Найти")
							//- - - - - - - - - - - - - - - - - - - - - - - - -
							.peoples-box
								.peoples-table-box
									table
										thead
											tr
												td.id ID
												td.name ФИО
												td.sex Пол
												td.age.active Возраст
												td.weight Телосложение
												td.found Когда найжен
												td.place Где находится
												td.moretd
										tbody
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0765
												td.name Сидоров Константин Викторович
												td.sex
													.sex.m Муж
												td.age.active 20-22 года
												td.weight Полное
												td.found 20.06.14
												td.place
													.map 
														a(href="#") ул. Мневники, д. 37
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0766
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.m Муж
												td.age.active 55-56 года
												td.weight Атлетическое
												td.found 27.06.14
												td.place
													.map 
														a(href="#") ул. Свободы, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
											tr
												td.id 0767
												td.name Иванов Дмитрий Сергеевич
												td.sex
													.sex.w Жен
												td.age.active 27 года
												td.weight Стройное
												td.found 5.06.14
												td.place
													.map 
														a(href="#") ул. Октября, д. 87
												td.moretd
													.more
														a(href="#people-popup") Подробнее
														span.show-info.js-show-info
															a(href="#").big &nbsp;
															.menu-big
																ul
																	li
																		a(href="#") Запросить фотографию
																	li
																		a(href="#") Отметить как найденного
									.pager.pager-nopad
										span.pager-name Страницы: 
										ul.pager-pages
											li: a(href="#") ← Назад
											li: a(href="#") 1
											li.active: a(href="#") 2
											li: a(href="#") 3
											li: a(href="#") 4
											li: a(href="#") Вперед →
								.side-filter
									.side-ins
										.box.boxmain
											h3
												| Общая информация
												span.ask-pop
											.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом									
											.content
												input(type="text", placeholder="ID").pad-bot
												input(type="text", placeholder="Фамилия")
												input(type="text", placeholder="Имя")
												input(type="text", placeholder="Отчество")
												.sex
													input(id="radio-val1" type="radio" name="radio" checked)
													label(for="radio-val1") Мужчина
													input(id="radio-val2" type="radio" name="radio")
													label(for="radio-val2") Женщина
										.box.boxdesc
											h3 
												| Описание
												span.ask-pop.bg-dark
											.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом
											.content
												.line
													.title
														span Возраст
														span.count лет
												.range-age
													input(type="text" name="example_name")
												.line
													.title
														span Рост
														span.count см
												.range-growth
													input(type="text" name="example_name")
												.select-wrap
													input(type="hidden" name="" value="")
													.select
														span.title Телосложение
														span.arrow
													ul.option-list
														li(data-value="1") Худощавое
														li(data-value="2") Нормальное
														li(data-value="2") Полное
														li(data-value="2") Очень полное
												.select-wrap
													input(type="hidden" name="" value="")
													.select
														span.title Цвет волос
														span.arrow
													ul.option-list
														li(data-value="2") Брюнет
														li(data-value="2") Шатен
														li(data-value="2") Рыжий
														li(data-value="2") Русый
														li(data-value="2") Блондин
														li(data-value="2") Седой
														li(data-value="2") Прочее
												.select-wrap
													input(type="hidden" name="" value="")
													.select
														span.title Цвет глаз
														span.arrow
													ul.option-list
														li(data-value="2") Синий
														li(data-value="2") Голубой
														li(data-value="2") Серый
														li(data-value="2") Зеленый
														li(data-value="2") Янтарный
														li(data-value="2") Карий
														li(data-value="2") Прочее
												.chkb-list
													.chkb-cell
														.chkb-line
															input(type="checkbox" id="chb_2" class="css-checkbox" checked="checked")
															label(for="chb_2" class="css-label") Шрамы
														.chkb-line
															input(type="checkbox" id="chb_3" class="css-checkbox" checked="checked")
															label(for="chb_3" class="css-label") Тату
													.chkb-cell
														.chkb-line
															input(type="checkbox" id="chb_1" class="css-checkbox" checked="checked")
															label(for="chb_1" class="css-label") Протезы
														.chkb-line
															input(type="checkbox" id="chb_4" class="css-checkbox" checked="checked")
															label(for="chb_4" class="css-label") Отсутствие конечностей
										.box.boxfound
											h3 
												| Обстоятельства обнаружения
												span.ask-pop
											.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом
											.content
												.line
													.line-name Дата обнаружения
													.range-date
														input(type="text" name="example_name")
												input(type="text", placeholder="Город")
												.select-wrap.light.pad-bot
													input(type="hidden" name="" value="")
													.select
														span.title Округ
														span.arrow
													ul.option-list
														li(data-value="2") ЮАО
														li(data-value="2") ЮВАО
														li(data-value="2") ЮЗАО
														li(data-value="2") ВАО
														li(data-value="2") ЗАО
														li(data-value="2") САО
														li(data-value="2") СЗАО
														li(data-value="2") СВАО
														li(data-value="2") ЦАО
														li(data-value="2") ЗелАО
														li(data-value="2") ТинАО
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Головной убор
															span.arrow
														ul.option-list
															li(data-value="2") Шапка меховая
															li(data-value="2") Кепка
															li(data-value="2") Шляпа
															li(data-value="2") Шапка вязанная
															li(data-value="2") Головной убор
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Цвет головного убора
															span.arrow
														ul.option-list
															li(data-value="2") Черный/Белый
															li(data-value="2") Цветной/прочий
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Верхняя одежда
															span.arrow
														ul.option-list
															li(data-value="2") Куртка
															li(data-value="2") Пальто
															li(data-value="2") Дубленка
															li(data-value="2") Шуба
															li(data-value="2") Плащ
															li(data-value="2") Другое
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Цвет верхней одежды
															span.arrow
														ul.option-list
															li(data-value="2") Черный/Белый
															li(data-value="2") Цветной/прочий
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Штаны
															span.arrow
														ul.option-list
															li(data-value="2") Брюки
															li(data-value="2") Джинсы
															li(data-value="2") Спортивные штаны
															li(data-value="2") Шорты
															li(data-value="2") Другое
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Цвет штанов
															span.arrow
														ul.option-list
															li(data-value="2") Черный/Белый
															li(data-value="2") Цветной/прочий
												.cell
													.select-wrap.light
														input(type="hidden" name="" value="")
														.select
															span.title Обувь
															span.arrow
														ul.option-list
															li(data-value="2") Сапоги
															li(data-value="2") Ботинки
															li(data-value="2") Туфли
															li(data-value="2") Кроссовки
															li(data-value="2") Кеды
															li(data-value="2") Тапочки
															li(data-value="2") Босоножки-сандали
															li(data-value="2") Без обуви
												.cell
													.select-wrap.light.pad-bot
														input(type="hidden" name="" value="")
														.select
															span.title Цвет обуви
															span.arrow
														ul.option-list
															li(data-value="2") Черный/Белый
															li(data-value="2") Цветной/прочий
												textarea(name="", cols="30", rows="10", placeholder="При себе имел")
											.action
												a(href="#") Применить фильтр
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			.footer-fix
			footer
				.main-width
					.wrap
						.ins
							.gov
								a(href="#") 
							.contacts
								p 
									a(href="#") findme@mos.ru
								p 8 800 XXX-XX-XX