doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.hide
				.people-popup.remodal(data-remodal-id="people-popup")
					.people-item
						.leftbl
							.prevbl
								.name Сидоров Константин Викторович
								.source
									strong Источник данных: 
									| Со слов пациента 
								.sex.m Мужчина
								.askphoto
									a.big &nbsp;
									.menu-big
										ul
											li
												a(href="#") Запросить фотографию
											li
												a(href="#") Отметить как найденного
								.pic.n
									.avatar
										.no-avatar
								.colors
									.item
										.text Голубой
										.prev
											.color.color9
										.title Цвет глаз
									.clear
									.item.item-2
										.text Рыжий
										.prev
											.color.color3
										.title Цвет волос
								.spec
									.item
										.graph.graph1
										.count 36 - 40
										.desc лет
										.title Возраст 
									.clear
									.item.item-2
										.graph.graph1
										.count 172
										.desc см
										.title Рост
								.viewbl
									.title телосложение
									.text Атлетическое
							.inform
								ul
									li.hat
										.inform-n Шапка
										.inform-f
											span.blue1
									li.jacket
										.inform-n Куртка
										.inform-f
											span.blue2
									li.jeans
										.inform-n Джинсы
										.inform-f
											span.blue3
									li.shoes
										.inform-n Туфли
										.inform-f
											span.blue4
							.box.prim
								.bname 
									h3 Приметы
								.prim-list
									.prim-i Шрамы
									.prim-i Тату
									.prim-i протезы
								.btext Умеренная сутулость, небольшое косоглазие, татуировка китайского дракона, дерущегося с азиатским львом на правом плече, отметка от кольца не безымянном пальце левой руки
							.boxmap 
								.bname 
									h3 Место и обстоятельства обнаружения
								.place
									strong Москва  
									| (центральный округ)
								.btext
									.item.item1 
										p
											strong Комментарии
										p Синие потертые джинсы с дыркой на правой коленке, кроссовки Nike, синее поло с узором в ромбик на спине и рукавах.
									.item.item2 
										p
											strong При себе имел
										p В кармане джинсов - зажигалка и блок сигарет, телефон Nokia, также обнаружена спортивная сумка с документами.
									.item.item3
										p
											strong Обстоятельства обнаружения
										p В кармане джинсов - зажигалка и блок сигарет, телефон Nokia, также обнаружена спортивная сумка с документами.
							.box.boxapplicant
								.bname 
									h3 Заявитель
								.btext
									h4 Сидоров Дмитрий Анатольевич
									p ~
									p 8 916 485 93 00
									p Sidorov_Dmitry@mail.ru
						//- - - - - - - - - - - - - - - - - - - - - - - - -
						.rightbl
							.nav
								.nav-btns
								.nav-close.close-popup
							.found
								.date
									.bname Дата обнаружения
									.bcontent
										.item
											.num 24
											.day
												.month 09
												.year 2014
								.place
									.bname
										.bg местонахождение
									.bcontent
										strong Название учреждения
										p Мед. Академия им. Шмелева
										strong Город
										p Москва (центральный округ)
										strong Адрес
										p ул. Пушкина, д. Калатушкина
										p 
											a(href="#").map показать на карте
										strong Телефон
										p 8 800 40 56 75
										strong Адрес сайт
										p
											a(href="#").site www.med24.ru
										strong Режим работы
										p Пн-пт, с 8:00 до 18:00; сб, c 10 <br>до 17:00; Вс - выходной
							.archive
								.bname Архив изменений
								.bcontent
									.item
										a(href="#") Вчера в 18:20
										p Со слов пациента - дополнено описание
									.item
										a(href="#") Два дня назад в 02:15
										p Привезли документы - дополнено описание
									.item
										a(href="#") Три дня назад в 02:15
										p Первичный осмотр реанимации - дополнено описание
									.item
										a(href="#") Вчера в 18:20
										p Изменено место пребывание - изменения
									.item
										a(href="#") Два дня назад в 02:15
										p Поступление пациента - создана карточка
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			.topfilter
				.main-width
					.wrap
						.filter
							ul
								li.map
									a(href="organisation-search-map.html")
								li.list.active
									a(href="#")
						.search
							form(action="#")
								input(type="text", placeholder="Поиск")
								input(type="submit", value="Найти")
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			main
				.main-width
					.wrap
						.organ-list
							.table-wrap
								table
									thead
										tr
											td.name Название учреждения
											td.city Город  
											td.place Адрес
											td.phone Телефон
											td.site Адрес сайта
											td.moretd
									tbody
										tr.hide2
											td.name Мед 
											td.city Москва (це  округ)
											td.place
												.map 
													a(href="#") уsideinfosideinfosideinfoки, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr.hide2
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr.hide2
											td.name Мед. Академsideinfosideinfoия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее
										tr
											td.name Мед. Академия им. Шмелева
											td.city Москва (центральный округ)
											td.place
												.map 
													a(href="#") ул. Мневники, д. 37
											td.phone 
												span 8 800 40 56 75
											td.site
												a(href="#") www.med24.ru
											td.moretd
												.more
													a(href="#people-popup") Подробнее									
							//- - - - - - - - - - - - - - - - - - - - - - - - -
							.sideinfo
								.bname Кто отображается
								.bcontent 
									p Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
									ul
										li
											a(href="#") Стационары
										li.active
											a(href="#") Поликлинники
										li
											a(href="#") Учреждения
				//- - - - - - - - - - - - - - - - - - - - - - - - -
				.footer-fix
				footer
					.main-width
						.wrap
							.ins
								.gov
									a(href="#") 
								.contacts
									p 
										a(href="#") findme@mos.ru
									p 8 800 XXX-XX-XX