doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			.hide
				.people-popup.remodal(data-remodal-id="people-popup")
					include _people-item-pop
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			main
				.organ-block
					.main-width
						.welcome
							.bname 
								h3 Медецинская Академия имени Шмелева
							.place
								strong Москва  
								| (центральный округ)
							.btext
								.item.phone
									p
										strong Телефон
									p 8 800 460 30 20
								.item.address 
									p
										strong Адрес
									p Ул. Кольская, дом 2,<br>корпус 3
								.item.time
									p
										strong Часы работы
									p Пн-пт, с 8:00 до 18:00; Cб, <br>c 10 до 17:00; <br>Вс - выходной 
								.item.site
									p
										strong Сайт
									p 
										a(href="#") www.mosgorzdrav.ru
						.founded Найденные пациенты в клинике
						.topfilter
							.main-width
								.wrap
									.filter
										ul
											li.full.active
												a(href="#")
											li.list
												a(href="organisation-list.html")
									.search
										form(action="#")
											input(type="text", placeholder="Поиск")
											input(type="submit", value="Найти")
						//- - - - - - - - - - - - - - - - - - - - - - - - -
						.peoples-box
							.peoples-list
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar.no-avatar
											.inform
												ul
													li.hat
														.inform-n Шапка 1
														.inform-f
															span.circle-nocolor
													li.jacket
														.inform-n Куртка
														.inform-f
															span.circle-color10
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.circle-color13
													li.shoes
														.inform-n Туфли
														.inform-f
															span.circle-color5
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Сидоров Константин Викторович
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.pic.g
												.avatar
													img(src="img/content/avatar5.png", alt="")
											.sex.w Жен
											.id ID 0730
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.circle-color1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Герус Екатерина Анатольевна
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Простое
											.item
												.title цвет глаз
												.text Голубые
											.item
												.title цвет волос
												.text Русый
										.address
											.map 
												a(href="#") ул. Черняховского, 1...
											.phone 8 495 460 35 36
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar
													img(src="img/content/ava3.png", alt="")
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Муромов Михаил Владимирович
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar
													img(src="img/content/ava1.png", alt="")
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Гришковец Евгений Валерьевич
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.pic.g
												.avatar
													img(src="img/content/avatar5.png", alt="")
											.sex.w Жен
											.id ID 0730
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Герус Екатерина Анатольевна
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Простое
											.item
												.title цвет глаз
												.text Голубые
											.item
												.title цвет волос
												.text Русый
										.address
											.map 
												a(href="#") ул. Черняховского, 1...
											.phone 8 495 460 35 36
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar.no-avatar
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Сидоров Константин Викторович
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar.no-avatar
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Гришковец Евгений Валерьевич
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.pic.g
												.avatar
													img(src="img/content/ava2.png", alt="")
											.sex.w Жен
											.id ID 0730
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Герус Екатерина Анатольевна
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Простое
											.item
												.title цвет глаз
												.text Голубые
											.item
												.title цвет волос
												.text Русый
										.address
											.map 
												a(href="#") ул. Черняховского, 1...
											.phone 8 495 460 35 36
								.people
									.prev
										.ins
											.sex.m Муж
											.id ID 0730
											.pic.n
												.avatar.no-avatar
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Сидоров Константин Викторович
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Атлетическое
											.item
												.title цвет глаз
												.text Зеленые
											.item
												.title цвет волос
												.text Каштановый
										.address
											.map 
												a(href="#") ул. Мневники, д. 37
											.phone 8 800 460 30 20
								.people
									.prev
										.ins
											.pic.g
												.avatar
													img(src="img/content/avatar5.png", alt="")
											.sex.w Жен
											.id ID 0730
											.inform
												ul
													li.hat
														.inform-n Шапка
														.inform-f
															span.blue1
													li.jacket
														.inform-n Куртка
														.inform-f
															span.blue2
													li.jeans
														.inform-n Джинсы
														.inform-f
															span.blue3
													li.shoes
														.inform-n Туфли
														.inform-f
															span.blue4
											.more
												a(href="#people-popup") Подробнее
												span.show-info.js-show-info
													a(href="#").big &nbsp;
													.menu-big
														ul
															li
																a(href="#") Запросить фотографию
															li
																a(href="#") Отметить как найденного
									.info
										.name Герус Екатерина Анатольевна
										.specmain
											.item
												.graph.graph1
												.count 36 - 40
												.desc лет
												.title Возраст 
											.item
												.graph.graph0
												.count 172
												.desc см
												.title Рост
											.item
												.graph.graph0
												.count 22.02
												.desc.sm 2014
												.title Найден
										.specmore
											.item
												.title телосложение
												.text Простое
											.item
												.title цвет глаз
												.text Голубые
											.item
												.title цвет волос
												.text Русый
										.address
											.map 
												a(href="#") ул. Черняховского, 1...
											.phone 8 495 460 35 36
								.pager.pager-pad
									span.pager-name Страницы: 
									ul.pager-pages
										li: a(href="#") ← Назад
										li: a(href="#") 1
										li.active: a(href="#") 2
										li: a(href="#") 3
										li: a(href="#") 4
										li: a(href="#") Вперед →
							//- - - - - - - - - - - - - - - - - - - - - - - - -
							.side-filter
								.side-ins
									.box.boxmain
										h3
											| Общая информация
											span.ask-pop
										.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом									
										.content
											input(type="text", placeholder="ID").pad-bot
											input(type="text", placeholder="Фамилия")
											input(type="text", placeholder="Имя")
											input(type="text", placeholder="Отчество")
											.sex
												input(id="radio-val1" type="radio" name="radio" checked)
												label(for="radio-val1") Мужчина
												input(id="radio-val2" type="radio" name="radio")
												label(for="radio-val2") Женщина
									.box.boxdesc
										h3 
											| Описание
											span.ask-pop.bg-dark
										.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом
										.content
											.line
												.title
													span Возраст
													span.count лет
											.range-age
												input(type="text" name="example_name")
											.line
												.title
													span Рост
													span.count см
											.range-growth
												input(type="text" name="example_name")
											.select-wrap
												input(type="hidden" name="" value="")
												.select
													span.title Телосложение
													span.arrow
												ul.option-list
													li(data-value="1") Худощавое
													li(data-value="2") Нормальное
													li(data-value="2") Полное
													li(data-value="2") Очень полное
											.select-wrap
												input(type="hidden" name="" value="")
												.select
													span.title Цвет волос
													span.arrow
												ul.option-list
													li(data-value="2") Брюнет
													li(data-value="2") Шатен
													li(data-value="2") Рыжий
													li(data-value="2") Русый
													li(data-value="2") Блондин
													li(data-value="2") Седой
													li(data-value="2") Прочее
											.select-wrap
												input(type="hidden" name="" value="")
												.select
													span.title Цвет глаз
													span.arrow
												ul.option-list
													li(data-value="2") Синий
													li(data-value="2") Голубой
													li(data-value="2") Серый
													li(data-value="2") Зеленый
													li(data-value="2") Янтарный
													li(data-value="2") Карий
													li(data-value="2") Прочее
											.chkb-list
												.chkb-cell
													.chkb-line
														input(type="checkbox" id="chb_2" class="css-checkbox" checked="checked")
														label(for="chb_2" class="css-label") Шрамы
													.chkb-line
														input(type="checkbox" id="chb_3" class="css-checkbox" checked="checked")
														label(for="chb_3" class="css-label") Тату
												.chkb-cell
													.chkb-line
														input(type="checkbox" id="chb_1" class="css-checkbox" checked="checked")
														label(for="chb_1" class="css-label") Протезы
													.chkb-line
														input(type="checkbox" id="chb_4" class="css-checkbox" checked="checked")
														label(for="chb_4" class="css-label") Отсутствие конечностей
									.box.boxfound
										h3 
											| Обстоятельства обнаружения
											span.ask-pop
										.ask-pop-text Здесь будет подсказка, которая расскажет о том, как пользоваться этим разделом
										.content
											.line
												.line-name Дата обнаружения
												.range-date
													input(type="text" name="example_name")
											input(type="text", placeholder="Город")
											.select-wrap.light.pad-bot
												input(type="hidden" name="" value="")
												.select
													span.title Округ
													span.arrow
												ul.option-list
													li(data-value="2") ЮАО
													li(data-value="2") ЮВАО
													li(data-value="2") ЮЗАО
													li(data-value="2") ВАО
													li(data-value="2") ЗАО
													li(data-value="2") САО
													li(data-value="2") СЗАО
													li(data-value="2") СВАО
													li(data-value="2") ЦАО
													li(data-value="2") ЗелАО
													li(data-value="2") ТинАО
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Головной убор
														span.arrow
													ul.option-list
														li(data-value="2") Шапка меховая
														li(data-value="2") Кепка
														li(data-value="2") Шляпа
														li(data-value="2") Шапка вязанная
														li(data-value="2") Головной убор
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Цвет головного убора
														span.arrow
													ul.option-list
														li(data-value="2") Черный/Белый
														li(data-value="2") Цветной/прочий
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Верхняя одежда
														span.arrow
													ul.option-list
														li(data-value="2") Куртка
														li(data-value="2") Пальто
														li(data-value="2") Дубленка
														li(data-value="2") Шуба
														li(data-value="2") Плащ
														li(data-value="2") Другое
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Цвет верхней одежды
														span.arrow
													ul.option-list
														li(data-value="2") Черный/Белый
														li(data-value="2") Цветной/прочий
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Штаны
														span.arrow
													ul.option-list
														li(data-value="2") Брюки
														li(data-value="2") Джинсы
														li(data-value="2") Спортивные штаны
														li(data-value="2") Шорты
														li(data-value="2") Другое
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Цвет штанов
														span.arrow
													ul.option-list
														li(data-value="2") Черный/Белый
														li(data-value="2") Цветной/прочий
											.cell
												.select-wrap.light
													input(type="hidden" name="" value="")
													.select
														span.title Обувь
														span.arrow
													ul.option-list
														li(data-value="2") Сапоги
														li(data-value="2") Ботинки
														li(data-value="2") Туфли
														li(data-value="2") Кроссовки
														li(data-value="2") Кеды
														li(data-value="2") Тапочки
														li(data-value="2") Босоножки-сандали
														li(data-value="2") Без обуви
											.cell
												.select-wrap.light.pad-bot
													input(type="hidden" name="" value="")
													.select
														span.title Цвет обуви
														span.arrow
													ul.option-list
														li(data-value="2") Черный/Белый
														li(data-value="2") Цветной/прочий
											textarea(name="", cols="30", rows="10", placeholder="При себе имел")
										.action
											a(href="#") Применить фильтр
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			.footer-fix
			footer
				.main-width
					.wrap
						.ins
							.gov
								a(href="#") 
							.contacts
								p 
									a(href="#") findme@mos.ru
								p 8 800 XXX-XX-XX