doctype html
html(lang="ru")
	include _head

	body
		#shikarniy
			header
				.main-width
					.wrap
						.logo
							a(href="/")
						.menu
							ul
								li
									a(href="search.html") Поиск
								li
									a(href="#") Инструкция
								li
									a(href="#") Организации
								li
									a(href="#") Оферта
								li
									a(href="#") О проекте
						.user
							.enter
								a(href="add.html") Войти
			//- - - - - - - - - - - - - - - - - - - - - - - - -
			main
				.main-width
					.wrap
						.people-item
							- var isNoPeopleSlider = true
							include _people-item-pop
				//- - - - - - - - - - - - - - - - - - - - - - - - -
				.footer-fix
				footer
					.main-width
						.wrap
							.ins
								.gov
									a(href="#") 
								.contacts
									p 
										a(href="#") findme@mos.ru
									p 8 800 XXX-XX-XX